{% extends 'base.html.twig' %}
{% block main %}
    <div class="container">
        <h1 class="well">Listado de Habitaciones</h1>
        {% if rooms %}
        <div class="panel panel-default">
            <table class="table">
                <tr>
                    <td align="center"><strong>Ubicacion</strong></td>
                    <td align="center"><strong>Fecha Inicio</strong></td>
                    <td align="center"><strong>Fecha Fin</strong></td>
                    <td align="center"><strong>Estrellas</strong></td>
                    <td align="center"><strong>Capacidad</strong></td>
                    <td align="center"><strong>Precio</strong></td>
                    <td align="center"></td>
                </tr>
                {% for room in rooms %}
                <tr>
                    <td align="center">{{ room.getCiudadDestino }}, {{ room.getPaisDestino }}</td>
                    <td align="center">{{ fechaDesde }}</td>
                    <td align="center">{{ fechaHasta }}</td>
                    <td align="center">{{ room.getEstrellas }}</td>
                    <td align="center">{{ room.getCapacidad }}</td>
                    <td align="center">${{ room.getPrecio }}</td>
                    {% if rol == 1 %}
                    <td align="center"><a style="text-decoration: none;" href="./?action=add_room_to_cart&id={{room.getId}}&fechaDesde={{fechaDesde}}&fechaHasta={{fechaHasta}}">Agregar <i class="glyphicon glyphicon-shopping-cart"></i></a></td>    
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert"><strong>Oops!</strong> No se han encontrado habitaciones con los filtros ingresados.</div>
        {% endif %}
        <div align="center">
            <button class="btn btn-primary navbar-btn" onClick="window.location.href='javascript:history.back(-1);'">Volver</button>
        </div>  
    </div>
{% endblock %}