<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fly Away!</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="css/w3.css">
        <link href="css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% include 'topNavbar.html.twig' %}
        <div class="container" style="margin-left: 22%">
            <h1 class="col-lg-9 well">Modificar Perfil</h1>
            <div class="col-lg-9 well">
                <div class="row">
                    <form name="form" method="post" action="index.php?action=userInformationModify_check" enctype="multipart/form-data">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label>Nombre</label>
                                    <input value="{{ usuario.getNombre }}" type="text" class="form-control" name="nombre" id="nombre" required />
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>Apellido</label>
                                    <input value="{{ usuario.getApellido }}" type="text" class="form-control" name="apellido" id="apellido" required />
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>Usuario</label>
                                    <input value="{{ usuario.getUsuario }}" type="text" name="usuario" id="usuario"  class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 form-group">
                                    <label>Email</label>
                                    <input value="{{ usuario.getEmail }}" type="email" placeholder="example@flyaway.com" id="email" name="email" class="form-control" required/>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>Contrase&ntilde;a</label>
                                    <input value="{{ usuario.getClave }}" type="password" name="clave" id="clave"  class="form-control" required>
                                </div>
                            </div>
                            <div align="center">
                                <button type="submit" class="btn btn-success navbar-btn">Guardar cambios</button>
                                <button type="button" class="btn btn-dancer navbar-btn" onClick="window.location.href='index.php?action=userInformation'">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>